---
---

@import "{{ site.theme }}";
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin:0 0 0 0;
    color: yellow;
}
body {
    color: red;
    background: green;
    margin:0 0 0 0;
}
