---
---

@import "minima";

.page-header {
    background: #991c20;
}
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin:0 0 4px;
    color:red;
}
body {
    background: yellow;
}
