h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin:0 0 0 0;
    color: pink;
    background: green;
}
body {
    color: red;
    background: pink;
    margin:0 0 0 0;
}

.post-meta {
    font-size: 60px;
}

.post-link {
    font-size: 14px;
}
