---
---

@import "minima";

body {
    background: #f0f0f0;
    color: black;
    margin:0 0 0 0;
    font-size: 14px;
}

/*
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin:0 0 0 0;
    font-size: 14px;
}
*/

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.post-meta {
    font-size: 12px;
}

.post-link {
    font-size: 14px;
    color: #5574ca; /* blue */
}

/*
.post-list {
    list-style: none;
    margin-left: 20px;
    margin-bottom: 2px;
}
*/

.post-list>li {
    margin-bottom: 2px;
    margin-bottom: 8px;
}

.highlight {
    background: blue;
}
